@model User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<style>
    .center {
        /*display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
        margin-bottom: 25%;*/
        position: absolute;
        width: 600px;
        height: 500px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #test {
        
    }

</style>
<img id="test" src="~/images/logo.svg" alt="rocket.chat Logo" />

<div class="col-md-12 center" style="color: #000000;">
    
    <div style="padding: 20px; width: 550px; height: 450px; background-color: #fff; border-radius: 6px;">

        <form asp-action="Index" asp-controller="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                login möglichkeiten facebook twitter...
            </div>
            <div class="form-group" style="width: 100%">
                
                <input asp-for="Username" class="form-control" placeholder="Email or username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Password" class="form-control" placeholder="password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-4 center-block">
                <input type="submit" value="Login" class="btn btn-primary center-block" />
            </div>
            
            <div>
                Register a new account
            </div>
            <div>
                Forgot password
            </div>
        </form>
    </div>
</div>