@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style>
    .content {
        width: 100%;
        height: calc(100% - 60px);
        padding: 25px 0
    }

    .info {
        width: 680px;
    }

    .social {
    }
</style>
<div class="content">
    <img src="~/images/logo-dark.svg" alt="" />
    <br />
    <div class="info">
        <p>Have your own web chat. Developed with Meteor.com, Rocket.Chat is a great solution for developers looking forward to build and evolve their own chat platform.</p>
        <p><b> ← Use the side menu to access your rooms and chats.</b></p>
    </div>

    <div class="social">
        <h4>Join the Community</h4>
        <p>Follow our social profiles, fork us on github and share your thoughts about the rocket.chat app on our trello board.</p>
        <nav>
            <a target="_blank" type="button" class="btn btn-secondary" href="https://twitter.com/RocketChat"><i class="fab fa-twitter"></i><span>Twitter</span></a>
            <a target="_blank" type="button" class="btn btn-secondary" href="https://www.facebook.com/RocketChatApp"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
            <a target="_blank" type="button" class="btn btn-secondary" href="https://plus.google.com/+RocketChatApp"><i class="fab fa-google-plus-g"></i><span>Google Plus</span></a>
            <a target="_blank" type="button" class="btn btn-secondary" href="https://github.com/RocketChat/Rocket.Chat"><i class="fab fa-github"></i><span>Github</span></a>
            <a target="_blank" type="button" class="btn btn-secondary" href="https://www.linkedin.com/company/rocket-chat"><i class="fab fa-linkedin-in"></i><span>LinkedIn</span></a>
        </nav>
    </div>
</div>
