@model User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<style>
    .center {
        left: 25%;
        width: 50%;
        height: 50%;
        top: 25%;
        position: absolute;
        text-align: center;
    }
</style>
<div class="col-md-12 center" style="max-width: 450px; max-height: 300px; background-color: #fff; color: #000000;border-radius: 6px">
    <div style="margin-top: 10%;">
        <form asp-action="Login" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="width: 100%">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <input type="submit" value="Login" class="btn btn-primary" />
        </form>
    </div>
</div>
