@model SWARocketChat.Models.ChatroomViewModels.CreateChatroomViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="Page-Enter" content="revealTrans(Duration=1,Transition=12)">

<meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Wheel(duration=1, spokes=20)">
<style>
    .centerhorizontally {
        display: flex;
        justify-content: center;
    }
    /*.switch input {
        display: none;
    }*/
    .cmn-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
    }
    .cmn-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
    }
    input.cmn-toggle-round-flat + label {
        padding: 2px;
        width: 40px;
        height: 24px;
        background-color: white;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-transition: background 0.4s;
        -moz-transition: background 0.4s;
        -o-transition: background 0.4s;
        transition: background 0.4s;
    }
    input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
        display: block;
        position: absolute;
        content: "";
    }
    input.cmn-toggle-round-flat + label:before {
        top: 2px;
        left: 2px;
        bottom: 2px;
        right: 2px;
        background-color: red;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-transition: background 0.4s;
        -moz-transition: background 0.4s;
        -o-transition: background 0.4s;
        transition: background 0.4s;
    }
    input.cmn-toggle-round-flat + label:after {
        top: 4px;
        left: 4px;
        bottom: 4px;
        width: 15px;
        background-color: #dddddd;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-transition: margin 0.4s, background 0.4s;
        -moz-transition: margin 0.4s, background 0.4s;
        -o-transition: margin 0.4s, background 0.4s;
        transition: margin 0.4s, background 0.4s;
    }
    input.cmn-toggle-round-flat:checked + label:before {
        background-color: #8ce196;
    }
        input.cmn-toggle-round-flat:checked + label:after {
            margin-left: 17px;
        }

</style>
@section header
{
    <span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31, 35, 41, .08)">
        <label></label>
    </span>
}
<div>

    <div class="row" style="margin: 0 auto; display: block; width: 558px;">
        <br />
        <div>
        <h4>Create Chatroom</h4>
            <div style="float: right;">
                <a asp-action="Index" style="color:lightgray">Back</a>
            </div>
        </div>
        <p>In rooms you communicate with your team</p>
        <br />
        <div style="display: flex; align-items: center">

            <form asp-action="Create" style="width: 100%">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div style="display: flex">
                        <input asp-for="Private" type="checkbox" class="cmn-toggle cmn-toggle-round-flat" id="cmn-toggle-4">
                        <label class="form-check-label" for="cmn-toggle-4"></label>
                        <span style="margin-left: 1rem">Private Room</span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ChatroomName" class="col-form-label">Roomname</label>
                    <input asp-for="ChatroomName" class="form-control" placeholder="Please insert a name for your room"/>
                    <span asp-validation-for="ChatroomName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChatroomDesription" class="col-form-label">Desription</label>
                    <input asp-for="ChatroomDesription" class="form-control" placeholder="Please insert your room desription"/>
                    <span asp-validation-for="ChatroomDesription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChatroomTopic" class="col-form-label">Topic</label>
                    <input asp-for="ChatroomTopic" class="form-control" placeholder="The room topic"/>
                    <span asp-validation-for="ChatroomTopic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Insert a password if you want to further secure your room"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*<div class="form-group ui-widget" style="margin: 0 0 40px 0">
                    <label asp-for="ChatroomMembers" for="autocomp" class="col-form-label">Invite Users</label>
                    <input asp-for="ChatroomMembers" type="text" id="autocomp" name="autocomp" class="form-control" placeholder="Please insert usernames" />
                    <span asp-validation-for="ChatroomMembers" class="text-danger"></span>
                </div>*@
                <div>
                    <label asp-for="ChatroomMembers" class="col-form-label">Invite Users</label>
                    <select class="js-basic-multiple js-data-ajax" multiple="multiple" asp-for="ChatroomMembers" asp-items="@ViewBag.Users" style="min-width: 558px">
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>


</div>
<script type="text/javascript">
$(document).ready(function() {
    $('.js-basic-multiple').select2();
});
</script>  