@model IEnumerable<Chatroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .gotoroom { }
</style>
@section header
{
        <span class="form-control form-control-dark w-100" style="box-shadow: 0 1px 2px 0 rgba(31,35,41,.08)">
            Directory
            <a asp-action="Create" class="btn btn-primary btn-sm" role="button" style="float: right"> <i class="fas fa-plus"></i></a>
        </span>
}
<table class="table">
    <thead>
        <tr style="font-size: 15px;color: #9ea2a8">
            <th style="width: 60%">
                Name
            </th>
            <th style="width: 10%">
                Members
            </th>
            <th style="width: 10%">
                Creating date
            </th>

            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="gotoroom" style="cursor: pointer">
                    <td style="width: 60%">
                        # @item.ChatroomName
                    </td>

                    @*<td style="width: 10%">
            @item.ChatroomMembers.Users.Count
        </td>*@
                    <td style="width: 10%">
                        @item.CreationDate.ToString("dd.MM.yyyy")
                    </td>
                    <td style="width: 10%">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function() {
        var gotoroom = document.getElementsByClassName("gotoroom");
        $(".gotoroom").click(function() {
            window.location.replace("chatrooms/create");
        });
    })
</script>